/* global-start */
@font-face{
    font-family: google-sans-medium;
    src: url("./fonts/ProductSans-Medium.woff")
}

@font-face {
    font-family: volkhov-bold;
    src: url("./fonts/Volkhov-Bold.ttf");
}
:root{
    --black: #212832,
    --yellow: #F1A501,
    --peach: #DF6951,
    --blue: #181E4B,
    --light-violet: #5E6282

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  font-family: google-sans-medium;
}

ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black);
}
 

/* global-end */

/* navigation-start*/
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 1.68em;
}
.mobile-nav{
    outline: none;
    background-color: white;
    padding: 0.6rem ;
    border:none; 
    border-radius: 5px;
}
.navlinks{
    display: none;
}
/* navigation-end */

/* hero-start */
.hero-subtitle{
  color: #DF6951;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.hero-title{
  color: #181E4B;
  font-family: volkhov-bold;
  font-size: 58px;
  margin: 43px 25px 29px 25px;
  overflow-x: hidden;
}

.hero-intro{
  font-size: medium;
  color: #5E6282;
  margin: 0 25px;
  line-height: 30px;
}

.find-btn{
  font-size: 18px;
  font-weight: medium;
  outline: none;
  border: none;
  background: #F1A501;
  border-radius: 10px;
  color: white;
  padding: 19px 27px;
}
/* hero-end */

/* decorations-start */
.decore1{
    position: fixed;
    top: 0;
    right: -100%;
    z-index: -1;
}
.decore2{
   display: inline-block;
   position: relative;

}
.decore2::after{
  content: url("./img/decore2.png");
  clear: both;
  display: inline-block;
  position: absolute;
  left: -24px;
  bottom: -10px;
  z-index: -1;
}
/* decorations-end */